<%= render 'slider' %>

<div class="body clearfix">
	<p class="start__text">Полис — это ваш личный участковый врач, такой же, как в государственной поликлинике.<br/> Обратиться за медицинской помощью к нему вы можете абсолютно бесплатно. Прямо сейчас.</p>
	<ul class="start__faq clearfix">
		<li>
			<span>что взять с собой на прием?</span>
			<%= link_to "abouts#id15" do %>
			Документы, которые вам понадобятся <br/>для визита к врачу
			<% end %>
		</li>
		<li>
			<span>Как записаться на прием?</span>
			<%= link_to "abouts#id16" do %>
			Есть 4 удобных способа сообщить <br/>нам о своем визите
			<% end %>
		</li>
		<li class="start__faq-item-last">
			<span>Нет полиса ОМС?</span>
			<%= link_to "services#id9" do %>
			Получите его у нас
			<% end %>
		</li>
	</ul>
	
	<div class="start__news">
		<h3 class="start__news-title">Новости</h3>
		<ul class="clearfix">
				<% @articles.each do |article| %>
			    <li><%= link_to article.title, article %>
				<p><%= truncate(strip_tags(article.description), length: 200).html_safe %></p></li>
				<% end %>
		</ul>
		<%= link_to "все новости", articles_path, :class => 'start__news-all' %>
	</div>
</div>

<%= render 'reviews/review' %>
<%= render 'reviews/thank' %>