<%= render 'slider' %>

<div class="body clearfix">
	<p class="start__text">Полис – это медицинские центры, прием в которых ведут врачи общей практики, участковые врачи. Обратиться за медицинской помощью к ним вы можете абсолютно бесплатно. Прямо сейчас.</p>
	<ul class="start__faq clearfix">
		<li>
			<span>что взять с собой на прием?</span>
			<a href="#">Список самого необходимого<br />для визита к врач</a>
		</li>
		<li>
			<span>как записаться на прием?</span>
			<a href="http://gorzdrav.spb.ru">Мы подробно описали все три способа<br />записаться к врачу</a>
		</li>
		<li class="start__faq-item-last">
			<span>что взять с собой на прием?</span>
			<a href="#">Список самого необходимого<br />для визита к врач</a>
		</li>
	</ul>
	
	<div class="start__news">
		<h3 class="start__news-title">Новости</h3>
		<ul class="clearfix">
				<% @articles.each do |article| %>
			    <li><%= link_to article.title, article %>
				<p><%= truncate(strip_tags(article.description), length: 200) %></p></li>
				<% end %>
		</ul>
		<%= link_to "все новости", articles_path, :class => 'start__news-all' %>
	</div>
</div>

<%= render 'reviews/review' %>
<%= render 'reviews/thank' %>