<div class="body clearfix" style="min-height: 500px;">
		<div class="address">
			<div class="address__top">
				<div class="address__selector">
					<a href="#" class="address__selector-label">Выберите отделение</a>
					<div class="address__selector-list">
						<ul>
				<% @offices.each do |office| %>
				<%= content_tag :li, :class => ('address__selector-selected' if @office == office) do %>
				<%= link_to office.adress, office %>
				<% end %>
				<% end %>
						</ul>
					</div>
				</div>
				<p class="address__info"><b>Адрес:</b>&nbsp<%= @office.adress %></p>
			</div>
		<div class="address__map">
			<div class="address__map-data"><%= @office.map.html_safe %></div>
			
		</div>
		<div class="address__bottom">
			<a href="http://gorzdrav.spb.ru/" class="address__bottom-register"><span>Записаться на прием к врачу<span></a>
		</div>
		<div class="clearfix">
			<div class="doctors">
				<ul>
				<% @doctors.each do |doctor| %>
					<li class="doctor">
						<b class="doctor__name"><%= doctor.name %></b>
						<span class="doctor__info"><%= doctor.job %></span>
						<% if doctor.status.blank? %>
						<p class="doctor__hours"><em>Прием:</em><%= doctor.priem1 %><br/><%= doctor.priem2 %></p>
						<% else %> 
						<p class="doctor__hours"><em>Прием:</em><i><%= doctor.otpusk %></i></p>
						
						<% end %>
						<a href="#" class="doctor__register">Записаться на прием</a>
					</li>
				<% end %>
				</ul>
			</div>
			<%= if @articles.empty?
			nil
			else
			render 'news'
			end %>
		</div>
	</div>
</div>

<%= render 'reviews/review' %>
<%= render 'reviews/thank' %>