<div class="body clearfix" style="min-height: 500px;">
		<!-- data left -->		
		<div class="body__data-left">
			<div class="newsdata">
				<a name="top"></a>
				<div class="clearfix"><a href="javascript:history.back()" class="newsdata__back">назад</a></div>
				<h2 class="newsdata__title"><%= @article.title %></h2>
				<span class="newsdata__subtitle"><%= @article.date %>				
					<% if @article.office_id != nil %> | 
					<%=	Office.where(:id => @article.office_id).first.title %>
					<%	else 
						nil
						end %>
				</span>
				<div class="newsdata__image"><%= image_tag(@article.photo.url(:content)) %></div>
				<p><%= sanitize @article.description %></p>
				<a href="#top" class="newsdata__top">Вверх</a>
			</div>			
		</div>
		<!-- end data left-->
		<!-- body right -->
		<%= if @other.empty?
		nil
		else
		render 'othernews'
		end %>
	</div>