<div class="body clearfix" style="min-height: 500px;">
	<!-- left -->
	<div class="body__left">
		<div class="left__menu">
			<% unless @abouts.blank? %>
			<h3 class="left__menu-title">О Компании "Полис"</h3>
			<ul>
				<% @abouts.each do |about| %>
		      	<%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
				<%= link_to about.title, '#id'+about.id.to_s %>
				<% end %>
		        <% end %>
			</ul>
			<% end %>
			<% unless @usefulls.blank? %>
			<h3 class="left__menu-title">Полезная информация</h3>
				<ul>
					<% @usefulls.each do |about| %>
			      	<%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
					<%= link_to about.title, '#id'+about.id.to_s %>
					<% end %>
			        <% end %>
				</ul>
			<% end %>
			<% unless @vacancy.blank? %>
			<h3 class="left__menu-title">Вакансии</h3>
				<ul>
					<% @vacancy.each do |about| %>
			      	<%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
					<%= link_to about.title, '#id'+about.id.to_s %>
					<% end %>
			        <% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<!-- end left -->
	<!-- data -->		
	<div class="body__data">
		<% @abouts.each do |about| %>
		<div id="<%= 'id'+about.id.to_s %>" class="text">
			<h1 class="text__title"><%= about.title %></h1>
			<%= sanitize about.description %>
		</div>
		<% end %>		
		</div>
		
	</div>
	<!-- end data -->
</div>