<div id="shadow" style="display:none"></div>
<div class="popupresponse"  style="display:none">
	<a href="javascript:;" class="popupresponse__close"></a>
	<h2 class="popupresponse__title">Оставить свой отзыв</h2>
	<div class="popupresponse__data">
		<%= form_for(@review) do |f| %>
		<div class="popupresponse__left clearfix"><label>Я хочу</label>
			<%= f.select(:status, options_for_select([['Поблагодарить', 'Positive'], ['Пожаловаться', 'Negative'], ['Оставить отзыв', 'Review']])) %></div>
		<div class="popupresponse__right">
			<div class="popupresponse__line popupresponse__line-first clearfix"><label>Отделение</label>
			<%= f.collection_select(:office_id, @office_select, :id, :title) %></div>
			<div id="doc" class="popupresponse__line clearfix">
				<div class="doc">
					<input type="checkbox" checked="checked"/>
					<label>Врач</label>
					<%= f.grouped_collection_select(:doctor_id, @office_select, :doctors, :title, :id, :name, {}, class: 'doctors-select' ) %>
				</div>
			</div>

			<a href="" class="popupresponse__line-add" id="add_doctors">Еще один врач</a>
		</div>			
		
	</div>
	<div class="popupresponse__info clearfix">
		<label>Представьтесь:</label>
		<input class="popupresponse__name" id="review_author" name="review[author]" size="30" type="text" value="Введите Ваше имя..." onclick="this.value=''" />
		<input class="popupresponse__email" id="review_contact" name="review[contact]" size="30" type="text" value="e-mail или номер телефона" onclick="this.value=''" />
	</div>
	<textarea cols="40" id="review_description" name="review[description]" rows="20" onclick="this.value=''">Ваш отзыв</textarea>
	<%= f.submit "Отправить отзыв", :class => "popupresponse__submit" %>

	
	<% end %>
</div>