<div id="shadow" style="display:none"></div>
<div class="popupresponse"  style="display:none">
	<a href="javascript:;" class="popupresponse__close"></a>
	<h2 class="popupresponse__title">Оставить свой отзыв</h2>
	<div class="popupresponse__data">
		<%= form_for(@review) do |f| %>
		<div class="popupresponse__left clearfix"><label>Я хочу</label>
			<%= f.select(:status, options_for_select([['Поблагодарить', 'Positive'], ['Пожаловаться', 'Negative'], ['Оставить отзыв', 'Review']])) %></div>
		<div class="popupresponse__right">
			<div class="popupresponse__line popupresponse__line-first clearfix"><label>Отделение</label>
			<%= f.collection_select(:office_id, @offices, :id, :title) %></div>
			<div class="popupresponse__line clearfix">
				
		<input type="checkbox" /><label>Врач</label><%= f.grouped_collection_select(:doctor_id, @offices, :doctors, :title, :id, :name) %>
				
				</div>
		</div>			
		<a href="javascript:;" class="popupresponse__line-add">Еще один врач</a>
	</div>
	<div class="popupresponse__info clearfix">
		<label>Представьтесь:</label>
		<%= f.text_field :author, :class => 'popupresponse__name', :value=> "Введите Ваше имя..." %>
		<%= f.text_field :contact, :class => 'popupresponse__email', :value=> "e-mail или номер телефона" %>
	</div>
	<%= f.text_area :description, :value=> "Ваш отзыв" %>
	<%= f.submit "Отправить отзыв", :class => "popupresponse__submit" %>

	
	<% end %>
</div>