<div class="body clearfix">
	<!-- left -->
	<div class="body__left">
		<div class="response__menu">
			<a href="#" class="response__menu-up"><span>Поблагодарить</span></a>
			<a href="#" class="response__menu-down"><span>Пожаловаться</span></a>
			<a href="#" class="response__menu-write"><span>Написать отзыв</span></a>
		</div>
	</div>
	<!-- end left -->
	<!-- data -->	
	<div class="body__data">	
		<ul class="responses">
			<% @reviews.each do |review| %>
			<li>
				<b><%= review.author %></b><span><%= review.created_at.strftime("%d.%m.%Y") %> 
					<% unless review.office_id.blank? %>
				| Отделение: <%= Office.where(:id => review.office_id).first.title %>
					<% end %>
					<% unless review.doctors.blank? %>
				| Врач: <%= review.doctors.split(",").map { |id| Doctor.where(:id => id).first.name }.join(', ') %>
					<% end %> 
					</span>
					<p><%= review.description %></p> 
			</li>
			<% end %>
		</ul>
		<!-- pagination -->
		<%= will_paginate @posts, :container => true, :class => 'flickr_pagination' %>
		<!-- end pagination -->			
	</div>
	<!-- end data -->
</div>

<%= render 'review' %>
<%= render 'reviews/thank' %>

