<div class="footer clearfix"><div class="footer-inner"> 
	<div class="footer__section">
		<p class="footer__copy">&copy; Полис. Участковые врачи</p>
		<div class="footer__search"><form id="footsearch" accept-charset="UTF-8" action="/search" method="get">
			<input type="text" class="footer__search-input" name="search" value="поиск по сайту" onclick="control_in(this, 'поиск по сайту');" onblur="control_out(this, 'поиск по сайту');"/>
			<!-- 2013.01.06 добавлена кнопка -->
			<a class="footer__search-submit"></a>
		</form></div>
	</div>
	<div class="footer__section">
			<ul class="footer__menu">
				<li><%= link_to "Полис", abouts_path %></li>
				<li><%= link_to "Адреса", offices_path %></li>
				<li><%= link_to "Услуги", services_path %></li>
				<li><%= link_to "Отзывы", reviews_path %></li>
			</ul>
		</div>
		<div class="footer__section footer__section-last">
			<ul class="footer__menu">
				<li><a href="#">Блог</a></li>
				<li><%= link_to "Новости", articles_path %></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Помощь</a></li>
				</ul>
			</div>
			<a href="http://zonazero.ru" class="footer__logo">Сделано<br/>в zero b2b</a>
		</div></div>
