<!-- header -->
<div class="header"><div class="header__inner">
	<a href="/" class="header__logo"><span>ПОЛИС участковые врачи</span></a>
	<ul class="header__menu clearfix">
		<%= content_tag :li, :class => ('header__menu-selected' if controller_name == "abouts") do %>
		<%= link_to "Полис", abouts_path %>
		<% end %>
		<%= content_tag :li, :class => ('header__menu-selected' if controller_name == "offices") do %>
		<%= link_to "Адреса", offices_path %>
		<% end %>
		<%= content_tag :li, :class => ('header__menu-selected' if controller_name == "services") do %>
		<%= link_to "Услуги", services_path %>
		<% end %>
		<%= content_tag :li, :class => ('header__menu-selected' if controller_name == "reviews") do %>
		<%= link_to "Отзывы", reviews_path %>
		<% end %>
		<%= content_tag :li, :class => ('header__menu-selected' if controller_name == "articles") do %>
		<%= link_to "Новости", articles_path %>
		<% end %>
	</ul>
	<p class="header__phone"><b>8 800 123-4567</b> единый многоканальный</p>
</div></div>
<!-- end header -->