<div id="header">
	<a href="/" class="logo" title="На главную">ПОЛИС участковые врачи (будьте здоровы)</a>
	<a href="http://gorzdrav.spb.ru" class="appoint"><span>Записаться<br />на прием</span></a>
	<div class="phone">
		<span class="p-number">8 812 670-00-03</span>
		<span class="p-notice">Ежедневно, с 8:00 до 20:00</span>
	</div>
</div>

<ul id="main-menu">
	<li><%= link_to abouts_path, :class => ('active' if controller_name == "abouts") do %>
	  <span>Полис</span><i>Информация о клиниках<br />Полезные советы</i>
	<% end %></li>
	<li><%= link_to offices_path, :class => ('active' if controller_name == "offices") do %>
	  <span>Адреса</span><i>Отделения на карте<br />с расписанием приема</i>
	<% end %></li>
	<li><%= link_to services_path, :class => ('active' if controller_name == "services") do %>
	  <span>Услуги</span><i>Участковые врачи<br />и вызов врача на дом</i>
	<% end %></li>
	<li><%= link_to reviews_path, :class => ('active' if controller_name == "reviews") do %>
	  <span>Отзывы</span><i>Мнение пациентов<br />Поделитесь своим</i>
	<% end %></li>
	<li><%= link_to articles_path, :class => ('active' if controller_name == "articles") do %>
	  <span>Новости</span><i>Главные события<br />Узнайте первым</i>
	<% end %></li>
</ul>